.card {
  background-color: #d9f1ee;
  border-radius: 10px;
  margin: 2rem;
  padding: 6rem 4rem;
}

.card-div {
  display: flex;
  align-self: center;
  margin: 1rem;
  padding: 1rem;
}

.card-div.moneySaved {
  padding-bottom: 0.3rem;
  padding-top: 2rem;
}

.icon {
  width: 22px;
  height: 22px;
  padding-top: 0.1rem;
}

img.icon {
  margin-right: 0.5rem;
}

.moneySaved {
  margin: 0;
  padding: auto;
}
