.myBtn {
  cursor: pointer;
  border: none;

  /* width: 170px;
  height: 56px; */

  border-radius: 4px;
  padding: 6px 30px 6px;
  font-weight: 700;
  font-size: 25px;
  white-space: nowrap;
  letter-spacing: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #81cbac;
  color: #fff;
}

.myBtn_default {
  background-color: #81cbac;
  color: #fff;
}

.myBtn_bottom {
  background-color: #81cbac;
  color: #333333;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.myBtn_top {
  background-color: #81cbac;
  color: #333333;
}

.myBtn:hover {
  background-color: #ccebf6;
}
