.profile-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.image-editor{
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 50%;
    border: 5px solid #fff;
    background-size: 100% 100%;
    overflow: hidden; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-editor{
    height: 150px;
    width: 150px;
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    background-size: 100% 100%;
    overflow: hidden; 
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
.profile-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: scroll;
}
.profile-span {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333333;
    margin-top: 30px;
}
.btn-div{
   margin-top: 30px;
}
.bottom-btn-div{
    margin-bottom: 70px;
}
.my-textArea {
    width: 20rem;
    height: 10rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #81CBAC;
    background-color: #E3F4ED;
    overflow: scroll; 
}
/* Preference */
.preference {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
}
.preference-div {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch.first{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
}
.switch.second{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.green {
    background-color: #81CBAC;
}
.slider:checked + .slider{
    background-color: #81CBAC;
}
/* input:checked + .slider {
    background-color: #81CBAC;
}
input:focus + .slider {
    box-shadow: 0 0 1px #81CBAC;
} */
/* .slider.grey{
    background-color: wheat
    
} */

.slider1:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider1 {
    background-color: #81CBAC;
}
input:focus + .slider1 {
    box-shadow: 0 0 1px #81CBAC;
}
input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider1.round {
    border-radius: 34px;
}   
.slider1.round:before {
    border-radius: 50%;
}   
.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.green {
    background-color: #81CBAC;
}
.slider:checked + .slider{
    background-color: #81CBAC;
}
.slider2:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider2 {
    background-color: #81CBAC;
}
input:focus + .slider2 {
    box-shadow: 0 0 1px #81CBAC;
}
input:checked + .slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider2.round {
    border-radius: 34px;
}   
.slider2.round:before {
    border-radius: 50%;
}   
.preference .frist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CCEBF6;
    border-radius: 20px;
    margin-bottom: 10px;
    align-items: center;
    margin-right: 2rem;
}
.preference .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #CCEBF6;
    border-radius: 20px;
    margin-right: 2rem;
}
.p-first{
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
}
.p-second{
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
}

/* setting */
.setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 100px;
}
.setting-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.setting.frist {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #333333;
    
}
.setting.second {
    display: flex;
    flex-direction: row;
    color: #333333;
}
.p-setting{
    margin-left: 1rem;
    font-size: 1.2rem;
}