
.daily-checkin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 26vh;
}

#plantProgress {
    width: 280px;
    z-index: 0;
}