#plantProgress {
    margin: 0;
    position: absolute;
  
    bottom: 300px;
    left: 65px;
    width: 280px;
    z-index: 0;
}

h2.daily-checkin-title {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 42%;
    color:#888ca2;
}