.icon {
    width: 22px;
    height: 22px;
    padding-top: 0.1rem;
  }
  
  img.icon {
    margin-right: 0.5rem;
  }

  .input{
    display: flex;
    justify-content: space-between;
    background-color: #e5f4fa;
    border-radius: 1rem;
    margin: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.9rem;
    cursor: pointer;
  }
