.moneyDiv {
  margin: 0;
  padding: 0;
}
.moneySavedLetter {
  color: #81cbac;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.moneyIcon{
  margin: 0.8rem;
  padding: 0.8rem;
}
.getWeekly{
  margin: 0.8rem;
  padding: 0.8rem;
}
.date {
  margin: 0.8rem;
  padding: 0.8rem;
}

.z {
  margin: 0.8rem;
  padding: 0.8rem;
}
