ul {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81CBAC;
    width: 100%;
    height: 100%;
  }
  
  li {
    float: left;
  }
  
  li .nav-link {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li .nav-link:hover {
    background-color: #ffffff;
  }