footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.navButton {
    height: 5vh;
}

.user {
    opacity: 0.55;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

