
#plantProgress {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 240px;
    z-index: 0;
}

.oxygenLevels img{
    height: 25px;
    padding-bottom: 3px;
}

.oxygenLevels {
    background-color: #AEE295;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    width: 120px;
    font-size: larger;
    right: 0;
    position:absolute;
}

.oxygenLevels span{
    padding-left: 10px;
}

h2.daily-checkin-title {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 42%;
    color:#888ca2;
}