
.oxygenLevels img{
    height: 25px;
    margin:  0 10px 5px 5px;
}

.oxygenLevels {
    background-color: #AEE295;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    width: 135px;
    font-size: larger;
    right: 0;
    position:absolute;
}

.oxygenLevels span{
    padding-left: 10px;
}

.input-color {
    margin-top: 30px;
    accent-color: #249579;
    width: 80%;
}


h1.hours {
    margin-top: 20px;
    font-size: 40px;
}

h2.daily-checkin-title {
    z-index: 1;
    position: absolute;
    margin-top: 30px;
    width: 100vw;
    text-align: center;
    color:#888ca2;
}

p.plant-notif {
    z-index: 1;
    position: absolute;
    top: 73.5%;
    color: #3EB798;
    width: 75vw;
   font-size: 20px;
   font-weight: 500;
    padding: 3.5vw;
    border-radius: 5px;
    margin: 0 12.5vw;
}