.questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.coughie-container {
  margin-bottom: 50px;
}

div.coughie-container img {
  margin: -40px 20px 20px 20px;
}

div.coughie-container p {
  width: 70%;
  margin:auto;
  font-size: larger;
  font-style: italic;
  font-weight: 300;
}