.display-bar {
  color: #81cbac;
  background-color: #EDF9F4;
  border-radius: 7px;
  margin: 5vh 0 2.5vh 40vw ;
  padding: 2vh 1.5vh 1vh 1vh;
  font-weight:bolder;
}

.display-bar h4 {
  font-weight: 600;
}
